/*dark grey #0C152E med grey #4D4446 light grey #807174 */
/*pink #E3594B yellow #FEDA39 mint #00C189 blue #009FC5*/

@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

html body {
	width: 320px;
	height: 320px;
	font-family: Roboto;
	font-size: 1em;
	color: white;
	margin: 0;
	padding: 10px;
	background-color: #0C152E;
}

#logo{
	margin-left: 0;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 15px;
	left: 15px;
}

#onboarding{
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 20px;
	margin-top: 10px;
}

#onboard-text{
	width: calc(100% - 50px);
	color: white;
	font-size: .8em;
	text-align: center;
	padding: 0 25px 0 25px;
}

#onboard-text p{
	margin: 5px;
}

#slide-up{
	background-color: #E3594B;
	color: white;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	bottom: 60px;
	right: 15px;
}

#get-article{
	color: white;
	cursor: pointer;
}

#get-article p {
	margin: 0;
}

#rss{
	width: calc(100% - 10px);
	background-color: #E3594B;
	font-style: italic;
	font-size: .8em;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	display: none;
	position: relative;
}

#close-rss{
	position: absolute;
	top: -20px;
	right: 10px;
	font-style: normal;
	/*font-weight: 900;*/
	color: white;
	cursor: pointer;
}

.rss-wrapper {
	display: inline-block;
	width: calc(100% - 8px);
	margin: 2px;
	padding: 2px;
}

.rss-id {
	width: calc(8% - 10px);
	height: calc(100% - 10px);
	margin: 3.5px 0px 0px 0px;
	padding: 10px;
	font-weight: 900;
	position: relative;
	float: left;
	text-align: right;
}

.rss-link{
	margin: 2.5px;
	/*border-left: 1px solid white;*/
	padding: 5px;
	width: calc(92% - 35px);
	position: relative;
	float: right;
}

.rss-wrapper:hover{
	background-color: white;
	color: #E3594B;
	cursor: pointer;
}

#chart{
	width: 320;
	height: 320;
	padding: 10px;
}

svg path {
	stroke: #0C152E;
	stroke-width: 1.5;
	cursor: pointer;
}

svg text {
	pointer-events: none;
}

.solidArc{
	position: relative;
	z-index: 10;
}

.outlineArc {
	position: relative;
	z-index: 1;
}