/*dark grey #0C152E med grey #4D4446 light grey #807174 */
/*pink #E3594B yellow #FEDA39 mint #00C189 blue #009FC5*/

@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);

html body {
	width: 320px;
	height: 320px;
	font-family: Roboto;
	font-size: 1em;
	color: white;
	margin: 0;
	padding: 10px;
	background-color: #0C152E;
}

#logo{
	margin-left: 0;
}

#instruction{
	width: 40%;
	float: right;
	text-align: right;
	font-size: .75em;
	position: relative;
	top: 5px;
	right: 5px;
}

#get-article{
	color: white;
	cursor: pointer;
}

#get-article p {
	margin: 0;
}

#rss{
	width: calc(100% - 10px);
	background-color: #E3594B;
	font-style: italic;
	font-size: 1em;
	padding: 5px;
	margin-bottom: .5em;
	margin-top: .5em;
	display: none;
}

#rss div{
	margin: 5px;
	background-color: #E3594B;
	color: white;
	border: 1px solid white;
	padding: 5px;
}

#rss div:hover{
	background-color: white;
	color: #E3594B;
	cursor: pointer;
}

#chart{
	width: 320;
	height: 320;
	padding: 10px;
}

svg path {
	stroke: white;
	stroke-width: 1.5;
	cursor: pointer;
}

.solidArc{
	position: relative;
	z-index: 10;
}

.outlineArc {
	position: relative;
	z-index: 1;
}